<div class="container"> 
    <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Valori nutrizionali</h2>
                <div class="separator"></div>
            </div>
    </div>
    <div class="row col-sm-4 offset-sm-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3">   
        <table class="table text-center">
            <thead>
            <tr><th>Valori per</th><th>100 grammi</th></tr>
            </thead>
            <tbody>
                <tr><td>Calorie</td><td>266 Kcal</td></tr>
                <tr><td>Carboidrati</td><td>33 gr</td></tr>
                <tr><td>Proteine</td><td>11 gr</td></tr>
                <tr><td>Grassi</td><td>10 gr</td></tr>
                <tr><td>Sodio</td><td>598 mg</td></tr>
                <tr><td>Potassio</td><td>172 mg</td></tr>
                <tr><td>Colesterolo</td><td>17 mg</td></tr>
            </tbody>
        </table>
    </div>
</div>
