<div class="container"> 
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="section-title">Ordiniamo da bere...</h2>
            <div class="separator"></div>
        </div>
    </div>
    <div id="carouseSlides" class="carousel slide py-4" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/1079_birra.jpg" class="d-block w-100" alt="720">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/1079birra-boccali.jpg" class="d-block w-100" alt="720">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/1079le-migliori-birre-artigianali-in-italia.jpg" class="d-block w-100" alt="720">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/1079top-birra-in-botte.jpg" class="d-block w-100" alt="720">
          </div>
        </div>
    </div>
    <div class="col-12 text-center">
            <p id="bere"><em>Ma ci raccomandiamo...</em><strong> ricordati di bere responsabilmente!</strong></p>
    </div>
  </div>
