/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Roboto&family=Titillium+Web&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 3rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 64px;
}

.container section {
    margin-top: 64px;
    margin-bottom: 32px;
}

.section-title {
    color: #0371A6;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.separator {
    width: 100px;
    height: 4px;
    background-color: #c1922e;
    margin: 0 auto;
}

.bordered-card-body {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 16px;
    height: 80px;
    box-shadow: 1px 1px 2px lightgray;
}