<div class="container">
    <section class="ingredients">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Ingredienti</h2>
                <div class="separator"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Olio_di_oliva">
                    <img src="../../assets/images/olio.jpeg" alt="Ingrediente Olio" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Olio extravergine di oliva di produzione certificata</h5>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Farina">
                    <img src="../../assets/images/farina.jpeg" alt="Ingrediente Farina" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Farina selezionata senza <br>uso di miglioratori</h5>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Cucurbita_pepo">
                    <img src="../../assets/images/zucchine.jpeg" alt="Ingrediente Zucchine" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Zucchine da coltivazioni Bio</h5>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Porcino">
                    <img src="../../assets/images/funghi2.jpg" alt="Ingrediente Funghi" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Funghi porcini di montagna</h5>
                </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Tofu">
                    <img src="../../assets/images/tofu.jpg" alt="Ingrediente Tofu" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Tofu vellutato preparato con cura in area protetta</h5>
                </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Solanum_melongena">
                    <img src="../../assets/images/melanzane-fix.jpg" alt="Ingrediente Melanzane" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Melanzane da coltivazioni Bio</h5>
                </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Peperone">
                    <img src="../../assets/images/peperoni.jpg" alt="Ingrediente Peperoni" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Peperoni da coltivazioni Bio</h5>
                </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Salsa_di_pomodoro">
                    <img src="../../assets/images/salsa-pom.jpeg" alt="Ingrediente Salsa Pomodoro" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Salsa di pomodoro da coltivazioni Bio</h5>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 py-4">
                <div class="card shadow">
                <a href="https://it.wikipedia.org/wiki/Ocimum_basilicum">
                    <img src="../../assets/images/basilico.jpeg" alt="Ingrediente Basilico" class="card-img-top img-fluid"/>
                </a>
                </div>
                <div class="card-body bordered-card-body">
                    <h5 class="card-title text-center">Basilico fresco di nostra produzione</h5>
                </div>
            </div>
        </div>


    </section>
</div>
