<div class="container">       
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 text-center">
            <h2 class="section-title">Guarda la preparazione</h2>
            <div class="separator"></div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center py-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DaoEqhJYvgs?si=LDeG4ebWKSisRm-J" 
                title="Come preparare la pizza vegana" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
    </div>
</div> 
